/* Footer Desktop */

footer {
    display: flex;
    flex-direction: row;    
    margin-left: 50px;
    margin-top: 60px;
    
}

#Footer {
    display: flex;
    flex-direction: row; 
    width: 95.50%;
    height: 11%;
    background-color: #F2F2F2;    
}


footer p {
    font-weight: 700;
    font-size: 18px;
}

footer ul {
    font-weight: 400;
    font-size: 16px;
    list-style: none;
}

.List {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 27%;
    margin-top: 45px;
    margin-left: 70px;
    margin-bottom: 50px;
}

.List p {
    margin-bottom: 20px;
}

.List li {
    margin-bottom: 12px;
}



/* Footer Tablette */

@media screen and (min-width: 768px) and (max-width: 991px) {
    footer {
        margin-left:0% ;
        margin-top: 70px;
        justify-content: center;
    }

    footer ul {
        width: 300px;
    }

}


/* Footer Mobile */


@media screen and (max-width: 767px) {


    footer {
        margin-left: 0;
    }

    #Footer {
        height: 100%;
        width: 100%;
        flex-direction: column;
        padding-bottom: 60px;
    }

    .List {
        margin-top: 45px;
        margin-bottom: 0;
        margin-left: 30px;
        width: 51%;
    }
}