/*Article Populaires*/

#RésultatPopulaires {
    display: flex;
    height: auto;
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-top: 40px;
    flex-direction: column;
    
}

#RésPopu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;
}

.CardPopulaires a {
    width: 100%;
    display: flex;
}

#RésultatPopulaires .Titre {
    margin-left: 10px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.Titre i {
    color: #0065FC;
}



.CardPopulaires{
    display: flex;
    justify-content: center;
    height: 144px; 
    width: 86%;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 20px;
}

.PhotoPopu img {
    width: 137px;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    border: 5px solid #FFFFFF;
}

.TextePop {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-around;
    padding-left: 15px;
    padding-top: 16px;
    padding-right: 10px;
}

.TextePop h3 {
    margin-top: 5px;
    margin-bottom: 40px;
}




/* Bloc Populaires Tablette */

@media screen and (max-width: 991px) {

    #RésultatPopulaires {
        width: auto;
        margin-left: 2%;
        margin-right: 2%;
          
    }

    #RésultatPopulaires .Titre {
        margin-top: 34px;
        margin-right: 10px;
        padding-left: 2%;
        padding-right: 2%;
    }

    #RésPopu {
        padding-left: 2%;
        padding-right: 2%;
        flex-direction: row;
    }

    #RésultatPopulaires .CardPopulaires {
        height: 144px;
        width: 252px;
        margin-left: 5px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    }

    .PhotoPopu img {
        width: 106px;
    }



    #RésultatPopulaires h2 {
        font-size: 14px;
        padding-right: 10%;
    }

    #RésultatPopulaires h3 {
        font-size: 12px;
    }

}


/* Bloc Populaires Mobile */

@media screen and (max-width: 767px) {


    #RésultatPopulaires {
        border-radius: 0 0 0 0;
        padding-top: 28px;
        padding-bottom: 47px;
        margin-left: 0%;
        margin-right: 0%;
    }

    #RésPopu {
        flex-direction: column;
        width: 100%;
        margin: 0%;
        align-items: center;
    }

    #RésPopu .TextePop {
        width: 60%;
        padding-right: 0%;
    }

    #RésultatPopulaires .CardPopulaires {
        width: 93%;
        margin-left: 0%;
    }

    #RésultatPopulaires .Titre {
        font-size: 22px;
        margin-bottom: 26px;
        padding-left: 20px;
        padding-right: 20px;
    } 

    #RésultatPopulaires h2 {
        font-size: 16px;
    }


    #Afficher {
        display: none;
    }

}