/*Article Populaires*/

#RésultatPopulaires {
    display: flex;
    height: auto;
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-top: 40px;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 1%;
}

#RésPopu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

#RésultatPopulaires .BlocRésPop {
    display: flex;
    justify-content: center;
    height: 28.80%;
    width: 80.95%;
    margin-left: 9.52%;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 20px;
}

.BlocRésPop a {
    width: 100%;
    display: flex;
}

#RésultatPopulaires .Titre {
    margin-left: 10px;
}

.Titre i {
    color: #0065FC;
}


.TextePop {
    display: flex;
    flex-direction: column;
    width: 58.82%;
    height: auto;
    justify-content: space-between;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 20px;
}



.TextePop h3 {
    margin-top: 5px;
    margin-bottom: 40px;
}

.PhotoSoleil {
    height: 100%;
    width: 41.18%;
    background-image: url(/Images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    background-size: auto 100%;
    background-position: center center;
    border-radius: 20px 0px 0px 20px;
    margin-top: 0px;
    border: 5px solid #FFFFFF;
}

.PhotoEau {
    height: 100%;
    width: 41.18%;
    background-image: url(/Images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
    background-size: auto 100%;
    background-position: center center;
    border-radius: 20px 0px 0px 20px;
    margin-top: 0px;
    border: 5px solid #FFFFFF;
}

.PhotoBleu {
    height: 100%;
    width: 41.18%;
    background-image: url(/Images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    background-size: auto 100%;
    background-position: center center;
    border-radius: 20px 0px 0px 20px;
    margin-top: 0px;
    border: 5px solid #FFFFFF;
}


/* Bloc Populaires Tablette */

@media screen and (max-width: 991px) {

    #RésultatPopulaires {
        width: auto;
        margin-left: 2%;
        margin-right: 2%;
          
    }

    #RésultatPopulaires .Titre {
        margin-top: 3%;
        margin-right: 10px;
        padding-left: 2%;
        padding-right: 2%;
    }

    #RésPopu {
        padding-left: 2%;
        padding-right: 2%;
        margin-top: 3%;
        flex-direction: row;
    }

    #RésultatPopulaires .BlocRésPop {
        height: 150px;
        margin-left: 5px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    }

    #RésPopu .TextePop {
        margin-left: 6%;
        margin-right: 0;
        margin-top: 5%;
        width: 50%;
        
    }

    #RésultatPopulaires h2 {
        font-size: 14px;
        padding-right: 10%;
    }

    #RésultatPopulaires h3 {
        font-size: 12px;
    }

}


/* Bloc Populaires Mobile */

@media screen and (max-width: 767px) {


    #RésultatPopulaires {
        width: 375px;
        height: auto;
        border-radius: 0 0 0 0;
        padding-top: 7%;
        padding-bottom: 8%;
    }

    #RésPopu {
        width: 100%;
        margin: 0%;
        align-items: center;
    }

    #RésPopu .TextePop {
        width: 55%;
        padding-right: 5%;
        margin-left: 15px;
    }

    #RésultatPopulaires .BlocRésPop {
        width: 89%;      
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    }

    #RésultatPopulaires .Titre {
        font-size: 22px;
        margin-bottom: 7%;
        padding-left: 5%;
        padding-right: 5%;
        margin-left: 0;
    } 

    #RésultatPopulaires h2 {
        font-size: 16px;
    }
    

    #Afficher {
        display: none;
    }

}