/* Font*/
*
{
    font-family: 'raleway', Impact, Arial; sans-serif;
    
    }

html{
    max-width: 1400px;
}

/* Header*/

#header
	{
	display:flex;
    
	}
    
/* Menu */


#nav{
    display:flex;
    position: absolute;
    width: 381px;
    height: 19px;
    left: 982px;
    top: 48px;
    list-style-type: none;
    
}

#HébPage{
    display: flex;
    position: absolute;
    left: 36.22%;
    right: 34.12%;
    top: 0%;
    bottom: 0%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    align-items:center;
    
    
}

#ActPage{
    display:flex;
    position: absolute;
    left: 83.46%;
    right: 0%;
    top: 0%;
    bottom:0%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    align-items:center;
}


h1{
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}

h2{
    font-size: 16px;
    font-weight: 400;

}

