/* Propriétés Générales Desktop */

* {
    box-sizing: border-box;
    font-family: "Raleway";
    margin: 0;
    padding: 0;

}

body {
    max-width: 1400px;
    margin: auto;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}

h2 {
    font-size: 16px;
    font-weight: 700;
}

h3 {
    font-size: 14px;
    font-weight: 400;
}

/* Propriétés Générales Mobile */
@media screen and (max-width: 767px) {
    body {
        max-width: 375px;
        margin: auto;
    }
}


/* Propriétés Générales Tablette */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
        width: 100%;
        margin: auto;
    }
}


/*Header Desktop*/

#header {
    display: flex;
    height: 102px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#header img {
    padding-left: 55px;
    height: 29px;
}

/* Menu */

nav {
    padding-right: 77px;
    display: flex;
    height: 100%;
    top: 48px;
    align-items: center;
}


nav a {
    display: flex;
    text-decoration: none;
    color: black;
    padding-left: 35px;
    padding-right: 35px;
    height: 100%;
    align-items: center;
    border-top: 2px solid transparent;
}

nav a:hover {
    text-decoration: none;
    font-weight: 500;
    color: #0065FC;
    border-top: 2px solid #0065FC;

}

/* Header Mobile */

@media screen and (max-width: 767px) {
    #header img {
        height: 19px;
        padding-left: 0%;
    }

    #header {
        max-width: 467px;
        display: flex;
        flex-direction: column;
        height: 121px;
        align-items: center;
        margin-top: 21px;
    }

    nav {
        padding-right: 0%;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }

    nav a {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 3px solid #F2F2F2;
    }

    nav a:focus {
        text-decoration: none;
        font-weight: 500;
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
        border-top: none;

    }

    nav a:hover {
        text-decoration: none;
        font-weight: 400;
        color: black;
        border-top: none;
    }


}

/* Header Tablette */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #header img {
        height: 19px;
    }

    nav {
        padding-right: 25px;
    }

    nav a:hover {
        text-decoration: none;
        font-weight: 400;
        color: black;
        border-top: none;
    }

    nav a:focus {
        text-decoration: none;
        font-weight: 500;
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
        border-top: none;

    }
}


/* Section Research Desktop*/

#Topsection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 55px;
    margin-top: 63px;
    height: 263px;
    width: 914px;
}


#Searchbar {
    display: flex;
    flex-direction: row;
    height: 49px;
    justify-content: left;

}

#LocLogo {
    display: flex;
    background-color: #F2F2F2;
    width: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0px 0px 15px;
}

.Search {
    display: flex;
    height: 100%;
    align-items: center;
    width: 236px;
    border: 1px solid #F2F2F2;
    font-weight: 700;
    font-size: 18px;
    padding-left: 17px;

}

#SearchButton {
    display: flex;
    width: 132px;
    background-color: #0065FC;
    border-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    color: white;
    border-style: solid;
}

#SearchButton i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    display: none;
}

#FiltersBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 880px;
    height: 50px;
    font-weight: 700;
    font-size: 18px;
}

.FilterButton {
    display: flex;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 4px 15px;
    font-weight: 700;
    font-size: 17px;
    height: 100%;
    align-items: center;
}

#FiltersBar i {
    color: #0065FC;
    padding-right: 10px;
}

.FilterButton:hover {
    background-color: #DEEBFF;
}

#infobar {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
}

#infobar i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    border-radius: 20px 20px 20px 20px;
    border: 1px solid #D9D9D9;
    margin-right: 11px;
    color: #0065FC;
}


/* Section Research Mobile*/

@media screen and (max-width: 767px) {
    #Topsection {
        width: 100%;
        height: 504px;
        margin-top: 30px;
        padding-left: 20px;
        justify-content: space-between;
    }

    #Searchbar {
        width: 332px;
        Display: flex;
        justify-content: center;
    }


    .Search {
        width: 232px;
    }

    #SearchButton {
        width: 50px;
    }

    #Rechercher {
        Display: none;
    }

    #SearchButton i {
        display: inline;
    }


    #FiltersBar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        height: 153px;
        padding-right: 20px;
    }

    .Filtres {
        font-weight: 700;
        font-size: 18px;
        width: 100%;
    }

    #FiltersBar i {
        padding-right: 6px;
    }


    .FilterButton {
        display: flex;
        align-items: center;
        width: 160px;
        height: 50px;
        font-weight: 700;
        font-size: 11px;
    }

    #infobar i {
        padding-left: 10px;
        padding-right: 10px;
        color: #0065FC;
    }

    .FilterButton:hover {
        background-color: #FFFFFF
    }

}



/* Section Research Tablette*/

@media only screen and (min-width: 768px) and (max-width: 991px) {

    #Topsection {
        height: 305px;
        width: 883px;
        padding-bottom: 39px;
        margin-right: 100px;
    }

    #FiltersBar {
        display: flex;
        justify-content: space-around;
        width: 730px;
    }

    .FilterButton {
        height: 50px;
        width: auto;
        display: flex;
        align-items: center;
        padding-left: 15px;
        margin-left: 10px;
        font-size: 16px;
    }

    .FilterButton i {
        padding-right: 6px;
    }

    .FilterButton:hover {
        background-color: #FFFFFF
    }
}


/* Bloc Main Desktop*/

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Titre {
    display: flex;
    align-items: end;
    padding-left: 30px;
    padding-right: 40px;
    flex: 0.3;
    justify-content: space-between;
}




/*Article Hébergements*/

#RésultatHébergement {
    display: flex;
    width: 880px;
    height: 626px;
    background-color: #F2F2F2;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 40px;
    margin-left: 50px;
}

#ListeHébergement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-content: space-around;
    flex: 1.7;
    margin-top: 10px;
}



#Afficher {
    padding-left: 30px;
    flex: 0.3;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.BlocRésHéber {
    display: flex;
    width: 246px;
    height: 199px;
    background-color: white;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-around;
    border: 5px solid #FFFFFF;
}


.TexteHeberg{
    display: flex;
    flex-direction: column;
    height: 75px;
    margin-left: 16px;
    margin-top: 5px;
    justify-content: space-around;
}

.PhotoCanebière {
    height: 124px;
    background-image: url(/Images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    border-radius: 20px 20px 0px 0px;
    background-size:  100% auto;
    background-position: center center;
}


.PhotoPort {
    height: 124px;
    background-image: url(/Images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    border-radius: 20px 20px 0px 0px;
    background-size:  100% auto;
    background-position: center center;
}

.PhotoMouettes {
    height: 124px;
    background-image: url(/Images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    border-radius: 20px 20px 0px 0px;
    background-size:  100% auto;
    background-position: center center;
}

.PhotoMer {
    height: 124px;
    background-image: url(/Images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    border-radius: 20px 20px 0px 0px;
    background-size:  100% auto;
    background-position: center center;
}

.PhotoPanier {
    height: 124px;
    background-image: url(/Images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    border-radius: 20px 20px 0px 0px;
    background-size:  100% auto;
    background-position: center center;
}

.PhotoAmina {
    height: 124px;
    background-image: url(/Images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    border-radius: 20px 20px 0px 0px;
    background-size:  100% auto;
    background-position: center center;
}



.NoteRésultat {
    display: flex;
    flex-direction: row;
}

.Etoile1 {
    color: #0065FC;
}

.Etoile2 {
    color: #0065FC;
}

.Etoile3 {
    color: #0065FC;
}

.Etoile4 {
    color: #0065FC;
}

.Etoile5 {
    color: #F2F2F2;
}

/*Article Populaires*/

#RésultatPopulaires {
    display: flex;
    height: 626px;
    width: 420px;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-top: 40px;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 35px;
    padding-top: 45px;
}

#RésultatPopulaires .BlocRésHéber {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 144px;
    width: 340px;
    margin-left: 40px;
    margin-top: 30px;
}

#RésultatPopulaires .Titre {
    margin-left: 10px;
}

.Titre i {
    color: #0065FC;
}

.TextePop {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 206px;
    justify-content: space-between;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 22px;
}



.TextePop h3 {
    margin-top: 5px;
    margin-bottom: 40px;
}

.PhotoSoleil {
    width: 137px;
    background-image: url(/Images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    background-size: auto 100%;
    background-position: center center;
    border-radius: 20px 0px 0px 20px;
}

.PhotoEau {
    width: 137px;
    background-image: url(/Images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
    background-size: auto 100%;
    background-position: center center;
    border-radius: 20px 0px 0px 20px;
}

.PhotoBleu {
    width: 137px;
    background-image: url(/Images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    background-size: 100% auto;
    background-position: center center;
    border-radius: 20px 0px 0px 20px;
}


/* Bloc Main Mobile */

@media screen and (max-width: 767px) {
    main {
        display: flex;
        flex-direction: column-reverse;
    }

    #RésultatPopulaires {
        display: flex;
        align-items: stretch;
        width: 375px;
        height: 580px;
        border-radius: 0 0 0 0;
        margin-top: 20px;
        padding-bottom: -50px;
        padding-top: 28px;
    }

    #RésultatPopulaires .BlocRésHéber {
        width: 334px;
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 20px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    }

    #RésultatPopulaires .Titre {
        font-size: 22px;
        font-weight: 700;

    }

    #RésultatHébergement {
        display: flex;
        height: auto;
        width: 375px;
        margin-left: 0;
        margin-top: 20px;
        background-color: #FFFFFF;
    }

    #RésultatHébergement .Titre {
        margin-top: 0px;
    }

    #ListeHébergement {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

    }

    .BlocRésHéber {
        width: 334px;
        margin-top: 12px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    }

    #Afficher{
        display: none;
    }

}


/* Bloc Main Tablette */

@media screen and (min-width: 768px) and (max-width: 991px) {

    #RésultatHébergement {
        margin-top: 0;
        width: 880px;
        margin-left: 20px;
        margin-right: 20px;
    }

    #RésultatHébergement .BlocRésHéber {
        width: 246px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    }

    #RésultatPopulaires {
        display: flex;
        justify-content: space-around;
        width: 880px;
        height: 278px;
        margin-left: 20px;
        margin-right: 20px;
    }

    #RésultatPopulaires .Titre{
        margin-left: -15px;
    }

    #ListePopulaires {
        display: flex;
        flex-direction: row;
        width: 700px;
        justify-content:center;
        margin-left: 40px;
    }

    #RésultatPopulaires .BlocRésHéber {
        width: 38%;
        height: 150px;
        margin-right: 5px;
        margin-left: 5px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    }

    #ListePopulaires .TextePop {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        margin-left: 10px;
        margin-right: 0;
        width: 55%;
    }

    #RésultatPopulaires h2 {
        font-size: 14px;
    }

    #RésultatPopulaires h3 {
        font-size: 12px;
        padding-top: 3px;
    }

}



/* Bloc Activités Desktop */

#BlocActivités{
    height: 500px;
    margin-top: 60px;
    margin-left: 50px;

}

#BlocRésActivités{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 19px;
}

.BlocActivité {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
    width: 300px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

#BlocImageVieuxPort{
    height: 390px;
    width: 300px;
    background-image: url(/Images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    background-position: center center;
    border-radius: 20px 20px 0 0;
}

#BlocImagePomègues{
    height: 390px;
    width: 300px;
    background-image: url(/Images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    background-position: center center;
    border-radius: 20px 20px 0 0;
}

#BlocImageCalanques{
    height: 390px;
    width: 300px;
    background-image: url(/Images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    background-position: center center;
    border-radius: 20px 20px 0 0;
}

#BlocImageGarde{
    height: 390px;
    width: 300px;
    background-image: url(/Images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    background-position: center center;
    background-size: auto 100%;
    border-radius: 20px 20px 0 0;
}


.NomRésultat{
    margin-left: 20px;
    margin-bottom: 20px;
}


/*Bloc Activités Mobile */

@media screen and (max-width: 767px){
    #TitreActivités{
        margin-left: 20px;
        margin-top: 50px;
        width:120px;
        margin-bottom: -30px;
    }

    #BlocActivités {
        width: 375px;
        height: auto;
        margin-left: 0;
        margin-top: 0;
        background-color: #FFFFFF;
    }

    #BlocRésActivités{
        display: flex;
        flex-direction: column;        
          
    }

    .BlocActivité {
        height: 190px;
        width: 334px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
    }

    #BlocImageVieuxPort{
        width: 100%;
        background-size:  100% auto;
        background-position: center center;
        border-radius: 20px 20px 0 0;
    }

    #BlocImagePomègues{
        width: 100%;
        background-size:  100% auto;
        background-position: center center;
        border-radius: 20px 20px 0 0;
    }


    #BlocImageCalanques{
        width: 100%;
        background-size:  100% auto;
        background-position: center center;
        border-radius: 20px 20px 0 0;
    }


    #BlocImageGarde{
        width: 100%;
        background-size:  100% auto;
        background-position: center center;
        border-radius: 20px 20px 0 0;
    }

    .NomRésultat{
        margin-top: 20px;
    }
}

/*Bloc Activités Tablette */

@media screen and (min-width: 768px) and (max-width: 991px) {
    #BlocActivités{
        width: 880px;
        height: 470px;
        margin-left: 20px;
        margin-right: 20px;

    }

    #BlocRésActivités{
        display: flex;
        width: 800px;
    }

    .BlocActivité{
        width: 180px;
        height: 270px;
    }

    #BlocImageVieuxPort{
        width: 100%;
        height: 250px;
        background-size:  auto 100% ;
        background-position: center center;
        border-radius: 20px 20px 0 0;
    }

    #BlocImagePomègues{
        width: 100%;
        height: 250px;
        background-size:  100% auto ;
        background-position: center center;
        border-radius: 20px 20px 0 0;
    }


    #BlocImageCalanques{
        width: 100%;
        height: 250px;
        background-size:  auto 100% ;
        background-position: center center;
        border-radius: 20px 20px 0 0;
    }


    #BlocImageGarde{
        width: 100%;
        height: 250px;
        background-size:  auto 100% ;
        background-position: center center;
        border-radius: 20px 20px 0 0;
    }

    .NomRésultat{
        height: 50px;       
        padding-top: 20px;
    }
}



/* Footer Desktop */

footer {
    display: flex;
    flex-direction: row;
    height:220px ;
    width: auto;
    margin-left: 50px;
    margin-top: 60px;
    background-color: #F2F2F2;
    align-items: center;
}

footer p {
    font-weight: 700;
    font-size: 18px;
}

footer ul {
    font-weight: 400;
    font-size: 16px;
    list-style: none;
}

.List {
    display: flex;
    justify-content:flex-start ;
    flex-direction: column;
    height: 100%; 
    width: 26%;
    margin-top: 90px;   
    margin-left: 70px;
}

.List p {
    margin-bottom: 20px;
}

.List li {
    margin-bottom: 12px;
}